@import url('https://fonts.googleapis.com/css?family=Fresca|Pangolin');

html {
  background-image: url('doodle.jpg');
  background-size: contain;
}

body {
  margin: 0;
}

#mainChat {
  height: 85vh;
}

header {
  width: 100%;
  height: 14.5vh;
  margin-bottom: 2px;
  background-color: rgba(36, 30, 30, 0.945);
}

#nameList, #chatBox {
  float: left;
  transition: width 0.3s;
}

#nameList {
  height:100%;
  width: 3%;
  background: rgba(22, 5, 5, 0.972);
  border-radius: 2px;
  color: transparent;
  box-shadow: 5px 0px 2px rgba(24, 23, 23, 0.787);
}

#nameList:hover {
  width: 20%;
  background: rgba(22, 5, 5, 0.918);
}

#nameList:hover  * {
  color: white;
}

#nameList:hover + [id=chatBox] {
  width: 80%;
}

.notification {
  font-family: 'Pangolin', cursive;
  font-size: x-large;
  color: rgba(255, 255, 255, 0.918);
  font-weight: bold;

}

#chatBox {
  height: 100%;
  width: 97%;
}

#chatDisplay{
  background-color: rgba(46, 43, 43, 0.664);
  height: 85%;
  overflow-y: auto;
}

#chatInp {
  background-color:rgba(7, 7, 7, 0.767);
  height: 15%;
}

#typeMsg {
  margin-top: 1.5%;
  margin-left: 20px;
  width: 85%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.829);
  font-family: 'Pangolin', cursive;
  color: white;
  font-size: large;
}

#sendMsg {
  margin-left: 30px;
  height: 50%;
  width: 8%;
  background: transparent;
  border-radius: 20px;
  border: 2px solid whitesmoke;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 2px rgba(51, 50, 50, 0.212);
  color: whitesmoke;
  font-family: 'Pangolin', cursive;
  text-align: center;
  box-shadow: 2px 4px rgba(20, 20, 20, 0.664);
}

#sendMsg:hover {
  background-color: rgba(20, 19, 19, 0.438);
}

#sendMsg:active {
  box-shadow: 0 2px rgba(20, 20, 20, 0.664);
  transform: translateY(2px);
}


.message, .reply {
  width: 40%;
  height: auto;
  border-radius: .3em;
  word-wrap: break-word;
  position: relative;
  padding: 8px;
  margin: 10px;
  font-family: 'Pangolin', cursive;
}

.message::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.063em solid transparent;
  border-left-color: rgba(255, 255, 255, 0.719);;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.531em;
  margin-right: -1.062em;
  box-shadow: 0px 1px rgba(46, 46, 46, 0.678);
}

.message {
  background-color: rgba(255, 255, 255, 0.719);
  margin-left: auto;
  margin-right: 2%;
  box-shadow: -0.5px 1px 1px rgba(46, 46, 46, 0.678);
}

.reply {
  background-color: rgba(255, 255, 255, 0.904);
  margin-right: auto;
  margin-left: 2%;
  box-shadow: 1px 1px 1px rgba(46, 46, 46, 0.678);
}

.reply::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.188em solid transparent;
  border-right-color: rgba(255, 255, 255, 0.904);
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.594em;
  margin-left: -1.187em;
  box-shadow: 0px 1px rgba(46, 46, 46, 0.678);
}

.msgContent {
  padding: 0;
  width: 80%;
  font-size: larger;
}

.sender {
  padding: 0;
  margin-top: 1px;
  margin-bottom: 5px;
  font-weight: bolder;
  text-shadow:
  -1px -1px 0 rgba(0, 0, 0, 0.849),
   1px -1px 0 rgba(0, 0, 0, 0.849),
   -1px 1px 0 rgba(0, 0, 0, 0.849),
    1px 1px 0 rgba(0, 0, 0, 0.849);
  letter-spacing: 2px;
}

.msgTime {
  padding: 5px;
  color: gray;
  font-size: smaller;
  min-width: 20%;
  max-width: auto;
  float: right;
  text-align: right;
}

.notification {
  text-align: center;
  min-width: 30%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#chatList {
  list-style-type: none;
}